@import "tailwindcss";


:root {
  --font-league-gothic: 'League Gothic', Arial, Helvetica, sans-serif;
  --font-poppins: 'Poppins', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-league-gothic);
}

p, button, span, li, a, input, textarea {
  font-family: var(--font-poppins);
  font-weight: 400;
}

.btn {
  display: inline-flex!;
  align-items: center;
  gap: 0.5rem;
  background: #fff!;
  color: #222!;
  font-family: var(--font-poppins);
  font-weight: 500;
  padding: 0.4rem 1.4rem;
  border-radius: 9999px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15);
}
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3338C3;
  border-radius: 8px;
  min-height: 30px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #232795;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3338C3 transparent;
}

